@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}

/* ##############Header############ */
header{
    background: #264653;
}

.info{
    font-weight: 200;
    font-size: 1rem;
    color: #E0E0E0;
}

.btn{
    background: #E76F51;
    padding: 0.8rem 2.8rem;
    color: #FFFFFF;
}

.header-img{
    width: 34rem;
}

.featured-img{
    filter:grayscale(100%);
}

.colored-text{
    color: #E76F51;
}

.margin{
    margin: 4rem 0 4rem 0;
}

/* #############Card Section ######### */

.card-img{
    width: 9.3rem;
}

.single-client{
    border: 1px solid #DEDEDE;
}

.client-name{
    color: #23A6F0
}

.fixed-width{
    width: 20.2rem;
}

.rating{
    color: #E77C40;
}

.title{
    font-size: 3rem !important;
    line-height: 1.5;
}

/* ################Accordion################## */

.accord{
    padding: 1rem;
}

.margin-top{
    border-top: 1px solid rgb(226, 226, 226) !important;
}

.header{
    color: #383838 !important;

}

@media screen and (min-width: 1312px){
    .accord{
        padding: 0 7rem;
    }
}


/* #################Modal Section################### */

.input-field{
    border: 1px solid #E77C40;
    border-radius: 5px;
    padding: 0.8rem 0.5rem;
    width: 100%;
}

.modal-card{
    width: 30rem;
}
